body {
  color: white;
  font-family: Maximum Impact;
}

/* not moving */
::-webkit-scrollbar {
  /* background: transparent; */
  background: rgba(0, 0, 0, 0.7);
}

/* moving */
::-webkit-scrollbar-thumb:horizontal {
  background: rgba(150, 150, 150, 0.7);
  border-radius: 10px;
}
